backend:
  replicaCount: 2
  image:
    repository: omerteomim/backend
    tag: latest
    pullPolicy: IfNotPresent
  service:
    port: 5000
  resources:
    limits:
      cpu: "500m"
      memory: "256Mi"
    requests:
      cpu: "250m"
      memory: "128Mi"
frontend:
  replicaCount: 2
  image:
    repository: omerteomim/frontend
    tag: latest
    pullPolicy: IfNotPresent
  service:
    port: 80
  resources:
    limits:
      cpu: "500m"
      memory: "256Mi"
    requests:
      cpu: "250m"
      memory: "128Mi"
ingress:
  host: prod.teomim.site