backend:
  replicaCount: 1
  image:
    repository: omerteomim/backend
    tag: dev
    pullPolicy: IfNotPresent
  service:
    port: 5000
  resources:
    limits:
      cpu: "200m"
      memory: "128Mi"
    requests:
      cpu: "100m"
      memory: "64Mi"
frontend:
  replicaCount: 1
  image:
    repository: omerteomim/frontend
    tag: dev
    pullPolicy: IfNotPresent
  service:
    port: 80
  resources:
    limits:
      cpu: "200m"
      memory: "128Mi"
    requests:
      cpu: "100m"
      memory: "64Mi"
ingress:
  host: dev.teomim.site

namespace:
  name: psychometry-app-dev